<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <div class="container bootstrap snippets bootdey">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 text-left"  >
                            <h4><strong>Client</strong> Details</h4>
                            <ul class="list-unstyled">
                                <li><strong>Name: </strong><span th:text="${user.name}"></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-condensed nomargin">
                            <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Unit Price</th>
                                <th>Total Price</th>
                            </tr>
                            </thead>
                            <tbody th:each="item : ${orderItems}">
                                <tr>
                                    <td>
                                        <div><strong th:text="${item.name}"></strong></div>
                                    </td>
                                    <td th:text="${item.quantity}"></td>
                                    <td th:text="${item.price}"></td>
                                    <td th:text="${item.totalPrice}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <hr class="nomargin-top">
                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <h4>Contact Details</h4>
                            <address>
                                E-Commerce TSU <br>
                                SDT: 0384846381 <br>
                                Email:beanbhlc2002@gmail.com
                            </address>
                        </div>

                        <div class="col-sm-6 text-right">
                            <ul class="list-unstyled">
                                <li><strong>Grand Total:</strong><span th:text="${orderInfo.grandTotal}"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>